.search{
  background: #191919;
}
.search__inner{
  position: relative;
  left: -3px;
  top: -60px;
  padding: 40px 0 35px;
  background: #191919;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 1090px;
  margin: 0 auto;
}
.search__title{
  text-align: center;
  font-family: 'Rotterburg Stylish FREE';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 34px;
  color: #C9AC8C;
  margin: 0;
  margin-bottom: 13px;
}
.search__form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input{
  padding: 17px 0 14px 28px;
  width: 710px;
  background: #404040;
  border-radius: 15px;
  border: none;
  margin-right: 15px;
  font-family: 'Steinbeck';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.3);

}
.search__btn{
  position: relative;
  font-family: 'Steinbeck';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3C2710;
  padding: 16px 47px 16px 69px;
  background: #C9AC8C;
  border-radius: 15px;
  border: none;
}
.search__btn::after{
  position: absolute;
  left: 40px;
  top: 14px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../Img/search.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.page{
  background: #191919;
}
.tur{
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  &:hover,:active{
    color: #C9AC8C;
  }
}
.turr{
  color: #C9AC8C;
}
